.cardContainer {
  color: black;
  border: 1px solid #1c1515;
  border-radius: 10px;
  text-align: left;
  padding: 40px 60px;
  max-width: 1000px;
  height: 90vh;
  position: relative;
  width: 100%;
  z-index: 1;
  color: #fff;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
}

.cardContainer ul {
  list-style-position: "inside";
}

.cardContainer span {
  font-weight: 500;
  text-decoration: underline;
}

.damageContainer {
  border: 1px solid;
  padding: 10px;
}

.cardContainer p {
  margin-top: 10px;
}

@media only screen and (max-width: 640px) {
  .cardContainer {
    width: 100%;
    padding: 5%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
}
