.chip {
  border-radius: 50em;
  display: inline-flex;
  margin: 5px;
  box-shadow: 0 0 1px white;
  text-align: center;
  z-index: 9999;
  padding: 10px;
  min-width: 200px;
  cursor: pointer;
}
.chip:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.wishList {
  margin-left: auto;
}

.wishList:hover {
  color: purple;
}
